# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
venv/
venv_gpu/
venv_cuda/
venv*/
env/
ENV/
.venv/

# PyTorch & Model Checkpoints
checkpoints/*
!checkpoints/ensemble_model.pth
*.ckpt
*.safetensors
*.onnx

# Datasets, Raw Images & Arrays
train/
Test_NoisyLR/
data/
test_inputs/
*.npy
*.csv

# Training runs & logs
runs/
.system_generated/
*.log

# Evaluation & Test outputs
evaluation_results/
restored_test_outputs/
test_outputs/
submission_outputs/
submission_restored_outputs/
inference_output/
visual_test/
preview_restored/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
